<div class="container">
  <div class="row">
    <div class="col">

      <div class="container">
        <div class="theTarget">
          <div id="box">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
            <div class="image4"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "管理者はこちらから", new_admin_session_path %>
    </div>
  </div>
</div>